
.at-resp-share-element .at-share-btn{
  margin: 0 !important;
}

blockquote{
  margin: 4rem 1rem;
  font-style: italic;
  background: #e0e0e0;
  border: 1px solid #c1c1c1;
  padding: 3rem 3rem 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 6px 7px rgba(0,0,0,0.24);
  transition: 200ms;
  // margin-bottom: 3rem;
}

blockquote:hover{
  transform: scale(1.02);
}

.post-subscribe{
  background: $gray-200;
}

.post-card{
  letter-spacing: 0.09rem;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post-signature{
  // max-width: 200px;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  height: 100%;
}

.post-btns{
  position: fixed;
  z-index: 1;
  right: 0px;
  left: 0px;
  width: 100%;
  display: inline-block;
  transition: 300ms top;
  display: flex;
  top: 60px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 1px 1px 1px #00000047;
  box-shadow: 1px 1px 1px #00000047;
  text-align: center;
  padding: .5rem;
  border-radius: unset;
  text-align: justify;
  font-size: 26px;
  border-left: 0;
  height: 45px;
}
.post-btns img,
.post-btns div{
  margin: 0 auto;
  text-align: center;
  max-width: 34px;
  margin-bottom: unset;
  cursor: pointer !important;
}

@media (max-width: 839px){
  .post-btns{
    position: fixed;
    z-index: 1;
    width: 100%;
    display: inline-block;
    transition: 300ms top;
    display: flex;
    top: 60px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 1px 1px 1px #00000047;
    box-shadow: 1px 1px 1px #00000047;
    text-align: center;
    padding: .5rem;
    border-radius: unset;
    text-align: justify;
    font-size: 26px;
    border-left: 0;
    height: 45px;
  }
  .post-btns img,
  .post-btns div{
    margin: 0 auto;
    text-align: center;
    max-width: 34px;
    margin-bottom: unset;
    cursor: pointer !important;
  }
}

.post-btns > div > ion-icon{
    transition: 200ms ease-in-out all;
}
.post-info-text{
  color: darkgray;
  max-width: 780px;
  display: block;
}
.post-btns > div > ion-icon:hover{
    color: $primary;
    cursor: pointer;
}

.post-box{
    // max-width: 780px;
    margin: 0 auto;
    width: 100% ;
  }
  .written-copy {
    max-width: 780px;
    margin: 1rem auto;
    text-align: center;
    p, ul, li {
      margin-bottom: 3rem;
      font-size: 18px;
    }
    p{
      text-align: justify;
      text-align-last: center;
      max-width: 600px;
      margin: 0 auto 3rem;
    }
    h2, h3{
      text-align: center;
      max-width: 600px;
      margin: 3rem auto;
    }
    ul, ol{
      text-align: justify;
    }
    .add-question{
      text-align: center;
      margin: 5rem auto;
      display: block;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      position: relative;
      bottom: 10px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 4px 7px rgba(0,0,0,0.24);
      width: 40px;
      color: #5a5a5a;
      height: 40px;
      /* background: #000000; */
      padding: 2px;
      border-radius: 50%;
      opacity: 0;
      -webkit-transition: 200ms ease-in-out;
      -o-transition: 200ms ease-in-out;
      transition: 200ms ease-in-out;
    }
    .remove-question{
      opacity: 0;
      position: relative;
      bottom: 30px;
      float: right;
      color: indianred;
      font-size: 30px;
      text-align: center;
      transition: 200ms ease-in-out;
    }
    .add-question:hover,
    .remove-question:hover{
      opacity: 1;
      cursor: pointer;
    }
    input{
      margin: 0;
    }
    // h2{
    //   margin: 2rem 0;
    // }
    .scale-item {
      transition: 200ms ease-in-out all;
    }
    .scale-item:hover{
      scale: transform(1.02);
    }
    .li-subtext{
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
    img{
      border: #e0e0e0 solid 1px;
      width: 100%;
      height: 80%;
    }
    .photo-frame{
      border: 20px solid white;
      border-radius: 1px;
      margin-bottom: 2rem;
    }
    table {
      td{
        padding: 0px;
      }
      input, .post-form-ta{
        width: 100%;
        border: None;
      }
    }
    .no-edit{
      td,tr{
        padding: 5px;
        text-align: center;
      }
      margin-bottom: 3rem;
    }
}
  
.pinecast-player{
    position: absolute;
    bottom: 10%;
    left: 50%;
    min-width: 65%;
    transform: translate(-50%);
}

.form-post{
    padding: 0;
    margin-bottom: 0rem !important;
    max-width: 780px;
    li {
        margin: 1rem 0;
        list-style: none;
        text-align: center;
        font-weight: bold;
        max-width: 780px;
    }
    .post-form-ta {
        width: 100%;
        border-radius: 2px;
        margin-bottom: 2rem;
        min-height: 140px;
        height: fit-content;
        background: white;
        text-align: left;
        padding: 5px;
        margin-top: 10px;
        border: 1px solid #c1c1c1;
  // padding: 3rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 4px 7px rgba(0,0,0,0.24);
    }
}

.at-share-btn{
    background-color: $primary !important;
}
